<label class="btn btn-solid-secondary" for="modal-2">History</label>

<input class="modal-state" id="modal-2" type="checkbox" />
<div class="modal w-screen">
	<label class="modal-overlay" for="modal-2"></label>
	<div class="modal-content flex flex-col gap-5 max-w-3xl">
		<label for="modal-2" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
		<h2 class="text-xl">History</h2>
		<span>Lorem ipsum dolor sit amea. Maxime cupiditate, est commodi consectetur earum iure, optio, obcaecati in nulla saepe maiores nobis iste quasi alias!</span>
	</div>
</div>
