<!-- Title -->
<h1 class="mb-2">Text Similarity</h1>

<form class="p-6 rounded-xl shadow-lg max-w-full bg-white">
    <!-- Input Row -->
    <div class="grid grid-cols-2 gap-8">
        <!-- TextArea -->
        <div>
            <textarea class="textarea-ghost-primary textarea-block textarea w-96" rows="10" placeholder="Primary"></textarea>
        </div>
        <!-- TextArea -->
        <div>
            <textarea class="textarea-ghost-primary textarea-block textarea w-96" rows="10" placeholder="Primary"></textarea>
        </div>
    </div>
    <!-- Submit Button -->
    <div class="flex justify-end gap-2 mt-4">
        <button type="submit" class="btn btn-outline-primary">Compute Similarity</button>
    </div>
</form>
