<!-- Title -->
<h1 class="mb-2">Sentiment Analysis</h1>

<form #sentimentForm="ngForm" (submit)="onSubmit(sentimentForm)" class="p-6 rounded-xl shadow-lg max-w-full bg-white">
    <!-- Input Row -->
    <div class="flex flex-col gap-4">
        <!-- Checkbox -->
        <select class="select select-block select-ghost-primary cursor-pointer"
        name="lang"
        ngModel="en - English">
            <option class="cursor-pointer">en - English</option>
            <option class="cursor-pointer">it - Italian</option>
            <option class="cursor-pointer">auto</option>
        </select>
        <!-- TextArea -->
        <div class="col-span-2">
            <textarea class="textarea-ghost-primary textarea-block textarea w-96" 
                rows="6"
                placeholder="The Mona Lisa is a sixteenth century oil painting created by Leonardo. It's held at the Louvre in Paris."
                ngModel
                name="text"
                required=""></textarea>
        </div>
    </div>
    <!-- Submit Button -->
    <div class="flex justify-end gap-2 mt-4">
        <button [disabled]="sentimentForm.invalid" type="submit" class="btn btn-outline-primary">Analyse</button>
    </div>
</form>

<!-- Display Results -->
<div class="mt-4 grid grid-cols-1 gap-2">
    <div *ngIf="hasResults">
                <div class="flex justify-evenly bg-white rounded-lg shadow-lg p-4">
                    <div>
                        <h2 class="text-xl font-bold">Language</h2>
                        <p class="text-2xl font-normal">{{sentimentResult.lang}}</p>
                    </div>
                    <div>
                        <h2 class="text-xl font-bold">Confidence</h2>
                        <p class="text-2xl font-normal">{{sentimentResult.sentiment.score}}</p>
                    </div>
                    <div>
                        <h2 class="text-xl font-bold">Type</h2>
                        <p [ngClass]="+sentimentResult.sentiment.score | interpolation">
                            <span class="text-xl font-black">{{sentimentResult.sentiment.type}}</span>
                        </p>
                    </div>
                </div>
    </div>
